<% layout ("/layouts/boilarplate"); %>
<body>

    <h3>All Listings</h3>
    <% for (let list of allList){ %>
    <div class="card" style="width: 18rem;">
        <img src="<%= list.image.url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"> <b><%= list.title %></b><br>
            ₹<%= list.price.toLocaleString("en-IN") %> / Night</p>
          
        </div>
      </div>
      <% }%>
<ul>
    <% for (let list of allList){ %>
        <li> <a href="/listings/<%=list._id%>"> <%= list.title %></a> </li>
  <% }%>
</ul>
  
</body>